# Exes
handcomp_test/*
!handcomp_test/*.*
handcomp_test/thrd_tests/*
!handcomp_test/thrd_tests/*.*

# Emacs backups
*~
\#*#

# Compilations
*.o
*.a
thrd_tests/*.o
thrd_tests/*.a

# lib 
*.a
*.so
*.so.*
