# Exes
handcomp_test/thrd_tests/*
!handcomp_test/thrd_tests/*.*
handcomp_test/*
!handcomp_test/*.*

# Emacs backups
*~
\#*#

# Compilations
*.o
*.a
thrd_tests/*.o
thrd_tests/*.a

glibc-2.31/build/*

# lib 
*.a
*.so
*.so.*
